.sobre {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sobre__texto {
    text-align: center;
    width: 500px;
    font-size: 2em;
    margin: 0 1em;
    box-sizing: border-box;

}

.sobre__texto p {
    margin-bottom: 1em;
    text-align: justify;
    word-spacing: -.2em;
}

strong {
    color: var(--bs-red);
}

.sobre__texto a {
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: .7em;
    color: var(--bs-white);
    transition: .3s ease-in-out;
}

.sobre__texto a:hover {
    color: #030000;
    background-color: #6e2424;
}

.sobre__icones {
    margin: 0 .5em;
    width: 28px;
}


@media (min-width:320px) and (max-width:425px) {
    .sobre {
        flex-direction: column-reverse;
        margin: 6em;
    
    }

    .sobre__texto {
        display: flex;
        flex-direction: column;
        width:90% ;
        font-size: 1.5em;
    }
    .sobre__texto p {
        width: 100%;
        word-spacing: .1em;
        text-align: left;
        margin:1em .2em;

    }

    .sobre__texto a {
        margin: 1em 1em;
        font-size: 1.2em;

    }

    
   
}

@media (min-width:768px) {
    .sobre {
        margin: 1em;
    }

    .sobre__texto {
        display: flex;
        flex-direction: column;
        margin: 0em;


    }

    .sobre__texto a {
        margin: 0;

    }

    .sobre__texto p {
        width: 85%;
        margin: 1em;
        word-spacing: -.2em;
        text-align: justify;

    }

    .sobre__foto img {
        width: 250px;
        height: 370px;
       
    }

}
